<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beatlink-connect</title>
    <link rel="stylesheet" href="../assets/styles/home.css">
    <link rel="stylesheet" href="../assets/styles/burger.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
    <header id="header">
        <div class="logo-beatlink"><img src="../assets/img/logo-beatlink.png" alt=""></div>
        <h1>trouve ton studio !</h1>
        <div class="title">
            <h2>Elève ta musique</h2>
        </div>
        <div class="menu-burger">
            <ul>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
        </div>
        <div class="navbar" id="test">
            <nav>
                <ul>
                    <li><a href="home">home</a></li>
                    <li><a href="studio">studio</a></li>
                    <li><a href="connexion">connexion</a></li>
                    <li><a href="inscription">inscription</a></li>
                    <li><a href="https://github.com/AnasRabo/Beatlink">réseaux</a></li>
                </ul>
            </nav>  
        </div>
    </header>
    <main>
        <section id="section_1">
            <form action="#" method="POST">
                <div class="search-bar">
                    <input type="text" placeholder="Réserve ton studio..." />
                    <span class="separator"></span>

                    <input type="date" />
                    <span class="separator"></span>

                    <input type="number" placeholder="Nombre d'heures..." min="1" />
                    <span class="separator"></span>

                    <button>Rechercher</button>
                </div>

            </form>
        </section>
        <section id="section_2">
            <div class="title-section_2">
                <h2>Qui somme nous ?</h2>
            </div>
            <article class="article-section_2">
                <div class="img-section2"><img src="../assets/img/IMG_1663.PNG" alt=""></div>
                <div class="text-section_2">
                    <p>Beatlink une plateforme dédiée à la mise en relation des artistes et des studios de musique.
                        Passionnés par la création musicale et convaincus que chaque talent mérite d’être soutenu,
                        nous avons créé cet espace pour faciliter les collaborations, encourager l’émergence de nouveaux
                        projets et renforcer la scène locale. Que vous soyez artiste, ingénieur du son ou propriétaire
                        de
                        studio, notre mission est de vous offrir les outils et la visibilité nécessaires pour
                        concrétiser
                        vos ambitions.</p>
            </article>
        </section>
        <section id="section_3">
            <div class="title-section_3">
                <h2>Nos objectifs</h2>
            </div>
            <article class="article-section_3">
                <div class="text-section_3">
                    <p>Notre objectif principal est de faciliter la collaboration entre artistes et studios de musique
                        en simplifiant la mise en relation. Nous voulons offrir une plateforme intuitive où les
                        créateurs peuvent trouver facilement les ressources dont ils ont besoin pour donner vie à leurs
                        projets. Que ce soit pour enregistrer, mixer ou simplement échanger, notre mission est de rendre
                        la production musicale plus accessible, plus humaine et plus efficace. À travers cette démarche,
                        nous espérons aussi soutenir l’émergence de nouveaux talents et contribuer à la dynamique
                        artistique locale.</p>
                </div>
                <div class="img-section3"><img src="../assets/img/objectif.jpg" alt=""></div>
            </article>
        </section>

        <section id="section_4">
            <div class="title-section_4">
                <h2>Les studios</h2>
            </div>
            <article class="article-section_4">
                <form action="">

                    <div class="red-house">
                        <h2 class="h2-red-house">Red House</h2>  
                        <img src="https://www.spectable.com/image/original/i/49hertz-studio-enregistrement_503582.jpg" alt="" class="image-red-house">
                       <a href="reservation/blasta-studio" class="btn-reserver">Réserver</a>
                    </div>
        
                    <div class="blasta-studio">
                        <h2 class="h2-blasta-studio">Blasta studio</h2>  
                        <img src="https://www.blasta.fr/wp-content/uploads/2024/04/RETOUCHE-STUDIO-B-REGIE-COMP-scaled.jpg" alt="" class="image-red-house">
                        <a href="reservation/blasta-studio" class="btn-reserver">Réserver</a>
                    </div>
        
                    <div class="gam-studio">
                        <h2 class="h2-Gam-studio">Gam Studio</h2>  
                        <img src="https://www.gamstudio.com/data/documents/images/sliders/home/dsc_7920ok.jpg" alt="" class="image-red-house">
                       <a href="reservation/blasta-studio" class="btn-reserver">Réserver</a>
                    </div>
                </form>
            </article>
            <a href="studio" class="voir-plus">
                <button>Voir plus</button>
              </a>
        </section>
    </main>
    <footer>
        <div class="footer">

            <p>© 2024 Beatlink. Tous droits réservés.</p>
            <a href="home"><h2>beatlink</h2><div class="reseaux"></a>
            <a href="https://www.instagram.com/nassio_227/"><i class="fa-brands fa-instagram"></a></i>
            <a href=""><i class="fa-brands fa-x-twitter"></a></i>
            <a href=""><i class="fa-solid fa-inbox"></a></i>
            </div>
            
        </div>
        </footer>
    <script src="../assets/controllers/burger.js"></script>
</body>

</html>