<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beatlink-connect</title>
    <link rel="stylesheet" href="../assets/styles/studio.css">
    <link rel="stylesheet" href="../assets/styles/burger.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
    <header>
        <div id="logo-beatlink"><img src="../assets/img/logo-beatlink.png" alt=""></div>
        <div class="menu-burger">
            <ul>
                <li></a></li>
                <li></a></li>
                <li></a></li>
        </div>
        <div class ="navbar" id="test">
            <nav>
                <ul>
                    <li><a href="home">home</a></li>
                    <li><a href="studio">studio</a></li>
                    <li><a href="connexion">connexion</a></li>
                    <li><a href="inscription">inscription</a></li>
                    <li><a href="https://github.com/AnasRabo/Beatlink">réseaux</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
    <h1 id="studio-dispo">Studios Disponibles !</h1>
    <section id="section_1">
        <form action="">

        <div class="red-house">
            <h2 class="h2-red-house">Red House</h2>  
            <img src="https://www.spectable.com/image/original/i/49hertz-studio-enregistrement_503582.jpg" alt="" class="image-red-house">
            <a href="reservation/red-house" class="btn-reserver">Réserver</a>
        </div>

        <div class="blasta-studio">
            <h2 class="h2-blasta-studio">Blasta studio</h2>  
            <img src="https://www.blasta.fr/wp-content/uploads/2024/04/RETOUCHE-STUDIO-B-REGIE-COMP-scaled.jpg" alt="" class="image-red-house">
            <a href="reservation/blasta-studio" class="btn-reserver">Réserver</a>
        </div>

        <div class="gam-studio">
            <h2 class="h2-Gam-studio">Gam Studio</h2>  
            <img src="https://www.gamstudio.com/data/documents/images/sliders/home/dsc_7920ok.jpg" alt="" class="image-red-house">
            <a href="reservation/gam-studio" class="btn-reserver">Réserver</a>
        </div>
    </section>

    <section id="section_2">

        <div class="Music-Hall-Source">
            <h2 class="h2-Music-Hall-Source">Music Hall Source</h2>  
            <img src="https://www.roissyenbrie77.fr/wp-content/uploads/2017/08/studio-music-hall-source.jpg" alt="" class="image-red-house">
            <a href="reservation/music-hall-source" class="btn-reserver">Réserver</a>
        </div>

        <div class="QDS-studios">
            <h2 class="h2-QDS-studios">QDS studios</h2>  
            <img src="https://questiondeson.com/wp-content/uploads/2021/03/Studio_B_2430x1620_1.jpg" alt="" class="image-red-house">
            <a href="reservation/qds-studios" class="btn-reserver">Réserver</a>
        </div>

        <div class="Urban-studio">
            <h2 class="Urban-tudio">Urban studio</h2>  
            <img src="https://www.saint-quentin.fr/uploads/Image/53/14968_981_urban-studio-04.jpg" alt="" class="image-red-house">
            <a href="reservation/urban-studio" class="btn-reserver">Réserver</a> 
        </div>
    </section>
    </form>   
</main>


    <footer>
        <div class="footer">

            <p>© 2024 Beatlink. Tous droits réservés.</p>
            <a href="home"><h2>beatlink</h2><div class="reseaux"></a>
            <a href="https://www.instagram.com/nassio_227/"><i class="fa-brands fa-instagram"></a></i>
            <a href=""><i class="fa-brands fa-x-twitter"></a></i>
            <a href=""><i class="fa-solid fa-inbox"></a></i>
            </div>
            
        </div>
        </footer>
    <script src="../assets/controllers/burger.js"></script>
</body>

</html>