{% extends 'guest/base.html.twig' %}

{% block metatitle %}
    <title>beatlink - studio</title>
{% endblock metatitle %}

{% block main %}

    <main class="studio">
    <h1 id="studio-dispo">Studios Disponibles !</h1>
    <section id="section_1">
        <form action="">

        <div class="red-house">
            <h2 class="h2-red-house">Red House</h2>  
            <img src="https://www.spectable.com/image/original/i/49hertz-studio-enregistrement_503582.jpg" alt="" class="image-red-house">
            <a href="reservation/red-house" class="btn-reserver">
                <p>Réserver</p>
            </a> 
        </div>
        <div class="blasta-studio">
            <h2 class="h2-blasta-studio">Blasta studio</h2>  
            <img src="https://www.blasta.fr/wp-content/uploads/2024/04/RETOUCHE-STUDIO-B-REGIE-COMP-scaled.jpg" alt="" class="image-red-house">
                <a href="reservation/blasta-studio" class="btn-reserver">
                <p>Réserver</p>
            </a> 
        </div>
        <div class="gam-studio">
            <h2 class="h2-Gam-studio">Gam Studio</h2>  
            <img src="https://www.gamstudio.com/data/documents/images/sliders/home/dsc_7920ok.jpg" alt="" class="image-red-house">
            <a href="reservation/gam-studio" class="btn-reserver">
                <p>Réserver</p>
            </a> 
        </div>
    </section>
    <section id="section_2">

        <div class="Music-Hall-Source">
            <h2 class="h2-Music-Hall-Source">Music Hall Source</h2>  
            <img src="https://www.roissyenbrie77.fr/wp-content/uploads/2017/08/studio-music-hall-source.jpg" alt="" class="image-red-house">
            <a href="reservation/music-hall-source" class="btn-reserver">
                <p>Réserver</p>
            </a> 
        </div>

        <div class="QDS-studios">
            <h2 class="h2-QDS-studios">QDS studios</h2>  
            <img src="https://questiondeson.com/wp-content/uploads/2021/03/Studio_B_2430x1620_1.jpg" alt="" class="image-red-house">
            <a href="reservation/qds-studios" class="btn-reserver">
                <p>Réserver</p>
            </a> 
        </div>

        <div class="Urban-studio">
            <h2 class="Urban-tudio">Urban studio</h2>  
            <img src="https://www.saint-quentin.fr/uploads/Image/53/14968_981_urban-studio-04.jpg" alt="" class="image-red-house">
            <a href="reservation/urban-studio" class="btn-reserver">
                <p>Réserver</p>
            </a> 
        </div>
    </section>
    </form>   
</main>


{% endblock main %}

{% block scripts %}

{% endblock scripts %}
