    <footer>
        <div class="footer">

            <p>© 2024 Beatlink. Tous droits réservés.</p>
            <a href="{{ path('home')}}"><h2>beatlink</h2><div class="reseaux"></a>
            <a href="https://www.instagram.com/nassio_227/"><i class="fa-brands fa-instagram"></a></i>
            <a href=""><i class="fa-brands fa-x-twitter"></a></i>
            <a href=""><i class="fa-solid fa-inbox"></a></i>
            </div>
            
        </div>
    </footer>